@model Course
@{
    ViewData["Title"] = "Create Course";
}

@section script
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<hr />
<div class="alert alert-info">
    <h2>Create Course</h2>
</div>
<hr />
<a class="btn btn-danger" asp-action="List">Back</a>
<form asp-controller="Course" asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="CourseName" class="form-label">Course Name</label>
        <input asp-for="CourseName" class="form-control">
        <div> <span class="text-danger" asp-validation-for="CourseName"></span></div>
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>
