@model Teacher
@{
    ViewData["Title"] = "Create Teacher";
}

@section script
{
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
}

<hr />
<div class="alert alert-info">
    <h2>Create Teacher</h2>
</div>
<hr />

<form asp-controller="Teacher" asp-action="Create" method="post">
    
    <div class="mb-3">
        <label asp-for="TeacherName" class="form-label">Teacher Name</label>
        <input asp-for="TeacherName" class="form-control">
        <div><span class="text-danger" asp-validation-for="TeacherName"></span></div>
    </div>

    <div class="mb-3">
        <label asp-for="Phone" class="form-label">Phone</label>
        <input asp-for="Phone" class="form-control">
        <div><span class="text-danger" asp-validation-for="Phone"></span></div>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
