@model IEnumerable<Teacher>

@{
    ViewData["Title"] = "Teachers";
}

<hr />
<div class="alert alert-info">
    <h2>Teachers</h2>
</div>
<hr />
<a class="btn btn-success" asp-controller="Teacher" asp-action="Create">Create Teacher</a>

<table class="table table-striped table-dark mt-5">
    <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.TeacherName</th>
                <th scope="row">@item.Phone</th>
                <td>
                    <a class="btn btn-info" asp-controller="Teacher"
                       asp-action="edit"
                       asp-route-id="@item.TeacherId">Edit</a>
                </td>
                <td>
                    <a class="btn btn-danger" asp-controller="Teacher"
                       asp-action="delete"
                       asp-route-id="@item.TeacherId">Delete</a>
                </td>
            </tr>
        }

    </tbody>
</table>